# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\engineering\Manvir_300304749\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
